@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background-color: #f5f5f5;
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  margin-top: 30%;
}

.App,
.Button {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.Button {
  font-size: 1.2em;
  border: none;
  background-color: #05009e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}

.Button:hover {
  cursor: pointer;
}

.bold {
  font-weight: 700;
}